* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --primary-color: var(rgb(186, 176, 176));
    --secondary-color:var(rgb(37, 34, 34));
    --tertiary-color:var(rgb(255, 255, 255));
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: .5;
    background: var(--secondary-color);
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.recipe-button {
    text-align: center;
    font-size: xx-large;
}

/* Modal CSS */
.meal-recipe {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgb(105, 93, 93);
    border-radius: 15px;
    width: 80%;
    height: 90%;
    overflow-y: scroll;
    display: none;
}

/* JavaScript CSS */
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 35px;
}

#close-recipe {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: large;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

 /* Nutritionix */
 .ingredient-button {
    text-align: center;
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
  }