

.recipe-button {
    text-align: center;
    font-size: xx-large;
}

/* Modal CSS */
.meal-recipe {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgb(105, 93, 93);
    border-radius: 15px;
    width: 80%;
    height: 90%;
    overflow-y: scroll;
    display: none;
}

/* JavaScript CSS */
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 35px;
}

#close-recipe {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: large;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

@media(max-width: 767px) { 
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }